h1{
	color: white;
	font-size: 300%;
	font-family: opensans;
	text-align: center;
}
h2{
	color: white;
	font-size: 225%;
	font-family: opensans;
	text-align: center;
	
}
p{
	color: white;
	font-size: 160%;
	font-family: openSans;
	text-align: center;
}
